@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

 .urbanist-norm{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 20vh;
}